.root {
    display: block;
    width: 100%;
}
.root:focus {
    outline: 0 none;
}

.content {
    align-items: center;
    border-bottom: 1px solid rgb(var(--venia-border));
    display: flex;
    margin: 0 1.5rem;
    min-height: 4.5rem;
    padding: 1rem 0;
    text-align: left;
    position: relative;
}

.label {
    width: 6em;
    color: rgb(var(--venia-teal));
    font-size: 14px;
    font-weight: 600;
}

.summary {
    font-size: 13px;
    justify-self: stretch;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    position: absolute;
    right: 0;
}

.icon * {
    height: 1rem;
}
