.root {
    padding-top: 1rem;
}

.header {
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    text-transform: uppercase;
}

.content {
    display: grid;
    padding: 0 1rem 0 1rem;
    grid-gap: 3rem 1rem;
    grid-template-columns: repeat(auto-fit, 6rem);
    justify-content: center;
}
